.topnav {
 color: 444;
    overflow: hidden;
    background-color: #444;
  
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color:rgb(206,43,55);
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(0,146,70);
    color: black;
  }